$header-height: 64px;
$header-margin-bottom: 4px;

// https://clrs.cc/

$buddy-orange: #fe7111;
$buddy-green: #2ecc40;
$buddy-light-orange: #f3a975;
$buddy-gray-light: #f5f5f5;
$buddy-gray-medium: #aaaaaa;
$buddy-gray-dark: #4c4c4c;
$buddy-gray: #dedede;
$buddy-blue: #0074d9;
$buddy-cyan: #09d8ff;
$buddy-red: #ff4136;

$wizard-padding: 30px;
$wizard-footer-height: 60px;
$wizard-header-height: 70px;
$wizard-border-radius: 4px;

$body-padding: 1vmin;
